node_modules
npm-debug.log
.env
uploads
generated/node_modules
generated/query_engine-windows.dll.node
.vscode
.DS_Store
dockerfile
file
node_modules
.git
.env
uploads
uploads\alunos
prisma/migrations
npm-debug.log
*.log
.DS_Store
